In [ ]:
!pip install pymysql

In [1]:
from pathlib import Path
import os
import pandas as pd
import pymysql

In [2]:
path = Path(Path.cwd())
par = str(path.parent)
data_path = par + "/datafiles/master-table/"

In [3]:
company_files = []
task_files = []
qst_files = []
industry_files = []

for file in os.listdir(data_path):
    if file[0] == '.':
        continue
        
    if 'compani' in file:
        company_files.append(data_path + file)
    elif 'industry' in file:
        industry_files.append(data_path + file)
    elif 'task' in file:
        task_files.append(data_path + file)
    elif 'question' in file:
        qst_files.append(data_path + file)
    else:
        print("처리되지 않은 파일 : {}".format(file))

## company

In [4]:
company_list = []
for file in company_files:
    company_list.extend(list(pd.read_csv(file).name))
    
company_df = pd.DataFrame(company_list, columns=['name'])

company_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7691 entries, 0 to 7690
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7691 non-null   object
dtypes: object(1)
memory usage: 60.2+ KB

In [5]:
company_df.drop_duplicates(['name'], keep='first')

            name
0      CJ올리브네트웍스
1      미래에셋대우(주)
2     삼성에스디에스(주)
3      (주)케이티디에스
4        SK㈜ C&C
...          ...
7686  한국남동발전(주)
7687  한화종합화학(주)
7688     (주)빙그레
7689      (주)웹젠
7690   삼성SDS(주)

[1371 rows x 1 columns]

In [6]:
unique_company = company_df.drop_duplicates(['name'], keep='first')

In [7]:
conn_info = {'host':'192.168.20.145', \
           'user':'ssac', \
           'password':'ssac123!@#', \
           'db':'job4',\
           'charset':'utf8'}

In [ ]:
conn = pymysql.connect( **conn_info )

cursor = conn.cursor()

for idx, row in unique_company.iterrows():
    sql = """insert into COMPANIES (`name`) values (%s)"""
        
    cursor.execute(sql, (str(row['name'])))
    
    conn.commit()
        
conn.close()

## Task

In [8]:
task_list = []
for file in task_files:
    task_list.extend(list(pd.read_csv(file).name))
    
task_df = pd.DataFrame(task_list, columns=['name'])

task_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    912 non-null    object
dtypes: object(1)
memory usage: 7.2+ KB

In [9]:
task_df.drop_duplicates(['name'], keep='first')

              name
0        경영지원 - 재무
1               행정
2       신입/경력 통합6급
3               사무
4             금융영업
..             ...
907    ‘QA·테스터·검증’
908    ‘설치·정비·A/S’
909    ‘반도체·디스플레이’
910  ‘학습지·과외·방문교사’
911     ‘기획·전략·경영’

[852 rows x 1 columns]

In [10]:
unique_task = task_df.drop_duplicates(['name'], keep='first')

In [ ]:
conn = pymysql.connect( **conn_info )

cursor = conn.cursor()

for idx, row in unique_task.iterrows():
    sql = """insert into TASK (`name`) values (%s)"""

    cursor.execute(sql, (str(row['name'])))
    
    conn.commit()
        
conn.close()

## Question

In [11]:
qst_list = []
for file in qst_files:
    col = pd.read_csv(file).columns[0]
    qst_list.extend(list(pd.read_csv(file)[col]))
    
qst_df = pd.DataFrame(qst_list, columns=['name'])

qst_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16447 entries, 0 to 16446
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    16446 non-null  object
dtypes: object(1)
memory usage: 128.6+ KB

In [12]:
qst_df.drop_duplicates(['name'], keep='first')

                                                    name
0                                            취미/특기 (40자)
1                                             존경인물 (10자)
2                                             존경이유 (40자)
3      삼성엔지니어링을 지원한 이유와 입사 후 회사에서 이루고 싶은 꿈을 기술하십시오. (...
4      본인의 성장과정을 간략히 기술하되 현재의 자신에게 가장 큰 영향을 끼친 사건, 인물...
...                                                  ...
15698  최근 3 년간 이뤘던 성취 중 가장 기억에 남는 일을 서술해 주십시오. (600 자...
15699  본인이 소속된 조직(학과, 인턴, 동아리, 프로젝트 등)의 목표를 달성하기 위해 노...
15700  어떤 업무를 처리하는 과정에서 다양한 상황들을 고려하여 의사결정을 내렸던 경험에 대...
15701        직장으로 한국철도공사에 지원하게 된 동기와 입사 후 포부를 기술하여 주십시오.
15703                                             자신의 성격

[4320 rows x 1 columns]

In [15]:
qst_df['name'] = qst_df.name.map(lambda x: str(x).strip())
unique_qst = qst_df.drop_duplicates(['name'], keep='first')

In [16]:
unique_qst.head()

                                                name
0                                        취미/특기 (40자)
1                                         존경인물 (10자)
2                                         존경이유 (40자)
3  삼성엔지니어링을 지원한 이유와 입사 후 회사에서 이루고 싶은 꿈을 기술하십시오. (...
4  본인의 성장과정을 간략히 기술하되 현재의 자신에게 가장 큰 영향을 끼친 사건, 인물...

In [17]:
conn = pymysql.connect( **conn_info )

cursor = conn.cursor()

for idx, row in unique_qst.iterrows():
    sql = """insert into QUESTION (`content`) values (%s)"""
        
    cursor.execute(sql, (str(row['name'])))
    
    conn.commit()
        
conn.close()

## Industry

In [ ]:
industry_list = []
for file in industry_files:
    industry_list.extend(list(pd.read_csv(file).name))
    
industry_df = pd.DataFrame(industry_list, columns=['name'])

industry_df.info()

## save

In [18]:
from datetime import datetime

today = datetime.today()

today.year, today.month, today.day, today.hour

(2021, 4, 5, 12)

In [20]:
todayDate = str(today.year) + "-" + str(today.month) + "-" + \
            str(today.day) + "-" + str(today.hour) + "-"

saving_path = par + "/datafiles/unique-db/"

unique_task.to_csv(saving_path + todayDate + "tasks.csv", index=False, encoding='utf-8-sig')
unique_qst.to_csv(saving_path + todayDate + "questions.csv", index=False, encoding='utf-8-sig')
unique_company.to_csv(saving_path + todayDate + "companies.csv", index=False, encoding='utf-8-sig')

In [21]:
# 확인
pd.read_csv(saving_path + todayDate + "tasks.csv")

              name
0        경영지원 - 재무
1               행정
2       신입/경력 통합6급
3               사무
4             금융영업
..             ...
847    ‘QA·테스터·검증’
848    ‘설치·정비·A/S’
849    ‘반도체·디스플레이’
850  ‘학습지·과외·방문교사’
851     ‘기획·전략·경영’

[852 rows x 1 columns]